body {
  font-family: 'Livvic', sans-serif;
  /* background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration-color: red!important; */
};
#developerDetails1{
  display: none;
};

.card col-md-3{
  padding: 10px;
  margin-bottom: 100px;
};



.img-thumbnail{
  height: 200px;
  width: 250px;
}

#para1, #para2, #para3, #para4 {
  display: none;
}

#row1{
  text-align: center;
}

#team{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 8%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
  color: white;
};

