/* -- Booking Section */
.booking-form {
	background-color: #3bd8ec;
	padding: 50px 20px;
  margin-bottom: 100px;
}
.booking-form h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	border-right: 1px solid #1b3471;
	margin: 0;
	color: #fff;
	letter-spacing: 1px;
	line-height: 26px;
}
.booking-form h4 span {
	font-weight: bold;
	display: block;
	font-size: 25px;
}
.booking-form form .form-group {
	width: 20%;
	float: left;
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 0;
	margin-top: 5px;
	position: relative;
}
.booking-form .form-group > i {
	position: absolute;
	left: 20px;
	color: #7d90be;
	top: 0;
}
.booking-section2 .booking-form .form-group > i {
	left: auto;
	right: 50px;
	top: 18px;
	color: #909090;
}
.ui-datepicker {
	padding: 10px;
}
.booking-form .form-group .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
.booking-form2 .form-group .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.booking-form .form-group .btn-default {
	border: none;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 2px solid #1b3471;
	color: #7d90be;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-form .form-group .btn-default:hover,
.booking-form .form-group .btn-default:focus,
.booking-form2 .form-group .btn-default:hover,
.booking-form2 .form-group .btn-default:focus {
	outline: none;
	background-color: transparent;
	color: #7d90be;
	border-bottom-color: #1b3471;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-form .form-group .bootstrap-select.btn-group .dropdown-menu li a {
	text-align: right;
	color: #7d90be;
}
.booking-form .form-group .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: right;
}
.booking-form .form-group .bootstrap-select.btn-group .dropdown-toggle .caret {
	right: auto;
	left: 0;
}
.booking-section2 .booking-form .form-group .btn-default {
	border: 1px solid #cfcfcf;
    padding: 16px 32px;
	border-radius: 5px;
}
.booking-form2 .form-group .btn-default {
	padding: 11px 32px;
	border-radius: 0;
	border-color: #dadada;
}
.booking-section2 .booking-form .form-group .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.booking-section2 .booking-form .form-group .bootstrap-select.btn-group .dropdown-menu li a {
	text-align: left;
}
.booking-section2 .booking-form .form-group .bootstrap-select.btn-group .dropdown-toggle .caret {
	right: 32px;
	left: auto;
}
.booking-section2 .booking-form .form-group .btn-default {
	color: #909090;
}
.booking-section2 .booking-form .form-group .btn-default:hover,
.booking-section2 .booking-form .form-group .btn-default:focus {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-form2 .form-group .bootstrap-select .dropdown-toggle:hover,
.booking-form2 .form-group .bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.booking-form2 .form-group .btn-default:hover,
.booking-form2 .form-group .btn-default:focus {
	border-bottom-color: #dadada;
}
.booking-form2 .form-group .bootstrap-select.btn-group .dropdown-menu li a span.text,
.bootstrap-select.btn-group:hover .dropdown-toggle .filter-option {
	color: #222222;
}
.booking-form2 .form-group .bootstrap-select.open .btn-default.active,
.booking-form2 .form-group .bootstrap-select.open .btn-default:active,
.booking-form2 .form-group .bootstrap-select.open > .dropdown-toggle.btn-default {
	background-color: transparent;
	border-color: #dadada;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-form .bootstrap-select.btn-group .dropdown-toggle .caret,
.booking-form2 .bootstrap-select.btn-group .dropdown-toggle .caret {
	top: 4px;
	border: none;
}
.booking-section2 .booking-form .bootstrap-select.btn-group .dropdown-toggle .caret {
	top: 35%;
}
.booking-section2 .booking-form .form-group .bootstrap-select.btn-group .dropdown-toggle .caret {
	right: 42px;
}
.booking-form2 .bootstrap-select.btn-group .dropdown-toggle .caret {
	right: 35px;
	top: 13px;
}
.booking-form .bootstrap-select.btn-group .dropdown-toggle .caret::before,
.booking-form2 .bootstrap-select.btn-group .dropdown-toggle .caret::before {
	content:"\f107";
	font-family:'FontAwesome';
	color: #7d90be;
}
.booking-section2 .booking-form .bootstrap-select.btn-group .dropdown-toggle .caret::before {
	color: #909090;
}
.booking-form2 .bootstrap-select.btn-group .dropdown-toggle .caret::before {
	color: #afafaf;
}
.booking-form form .form-group input {
	text-align: right;
	padding-bottom: 14px;
	padding-top: 0;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #1b3471;
	border-radius: 0;
	font-size: 12px;
	box-shadow: none;
	outline: none;
	color: black;
}
.booking-form form .form-group input::-webkit-input-placeholder {
	color: black;
}
.booking-form form .form-group input:-moz-placeholder { /* Firefox 18- */
	color: #7d90be;
}
.booking-form form .form-group input::-moz-placeholder {  /* Firefox 19+ */
	color: #7d90be;
}
.booking-form form .form-group input:-ms-input-placeholder {
	color: black;
}
.booking-form form .form-group select {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #1b3471;
	border-radius: 0;
	color: black;
	padding-bottom: 9px;
	padding-top: 0;
	width: 100%;
	font-size: 12px;
	text-align: right;
}


body{
  background: url('https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;

}
.hotelViewing{
	color: black;
}
#NAIROBI1{
	display: none;
}
#MOMBASA1{
	display: none;
}
#KISUMU1{
	display:none;
}
#NAKURU1{
display:none;
}
#NAIROBI2{
	display: none;
}
#MOMBASA2{
	display: none;
}
#KISUMU2{
	display:none;
}
#NAKURU2{
display:none;
}
#NAIROBI3{
	display: none;
}
#MOMBASA3{
	display: none;
}
#KISUMU3{
	display:none;
}
#NAKURU3{
display:none;
}
.flex{
	justify-content: space-around;
	display: inline-flex;
}
#kempinskiLocation{
	display: none;
}
#serenaLocation{
	display: none;
}
#hemingwaysLocation{
	display: none;
}
#whitesandsLocation{
	display: none;
}
#pointLocation{
	display:none;
}
#continentalHotellocation{
	display: none;
}
#acaciaPremierLocation{
	display: none;
}
#whirlSpringLocation{
	display: none;
}
#imperialLocation{
	display: none;
}
#sarovaWoodlandsLocation{
	display: none;
}
#legacyLocation{
	display: none;
}
#eaglePalaceNakuruLocation{
	display: none;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
	font-size: 10px;
}
.butn{
	margin-left: 480px;
	border-radius: 10px;
	background-color: blue;
	margin-top: 25px;
}
